################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Android.Commom/bin
/Android.Commom/obj
/Common.Tools/bin
/Common.Tools/obj
